* {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;  
}

h2 {
    text-align: center;
    margin-top: 2%;
    font-size: 4em;
}
/* ---------------------------------main----------------------------------------- */
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    height: 100vh;
    background: url(../img/font.png);
    background-repeat: no-repeat;
    background-size: 120%;
}

.navbar {
    margin: 50px;
    margin-left: 13%;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #333;
    margin-right: 8%;
    transition: color .1s linear;
    font-size: 24px;
    position: relative;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 100%;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav-link:hover {
    color: #333;
}

.nav-link:hover:after {
    opacity: 1;
}

.main-link {
    margin-left: 17%;
    margin-top: 9%;
}

.main-link-studio {
    font-size: 32px;
    color: #E1004C;
    text-decoration: none;

}

.main-link-portfolio {
    font-size: 32px; 
    color: #333; 
    text-decoration: none;
}

.main-title {
    margin: 20px;
    margin-left: 13%;
    width: 23%;
}

/* ---------------------------------rules----------------------------------------- */
.rules {
    width: 100%;
    height: 100vh;
    background-color: red;
}

.rulesfirst {
    background-color: yellow;
    width: 40%;
    height: 20%;
    margin-left: 10%;
}

.rulessecond {
    background-color: pink;
    width: 40%;
    height: 20%;
    margin-left:50%; 
}

.rulesthird {
    background-color: blue;
    width: 40%;
    height: 20%;
    margin-left:10%;
}

.rulesfour {
    background-color: green;
    width: 40%;
    height: 20%;
    margin-left:50%;
}  

/* ---------------------------------servises----------------------------------------- */
.services {
    width: 100%;
    text-align: center;
}

.services-blocks {
    display: block;
    width: 100%;
}

.services-block {
    display: block;
    padding: 30px;
    width: 30%;
    height: auto;
}

.services-block-right {
    display: inline-block;
    margin-left: 50%;
}

.services-block-left {
    display: inline-block;
    margin-right: 50%;
}

.services-block-img {
    display: inline-block;
    width: 30%;
    height: 170px;
    margin-right: 10%;
}

.services-block-info {
    display: inline-block;
    margin-top: 5%;
    width: 50%;   
}

.services-block-title {
    font-size: 20px;
    margin-bottom: 10%;
}

.services-block-price {
    color: blue;
    font-size: 20px;
    margin-bottom: 10%;
}

.services-block-time {
    color: #4B4B4B;
    font-size: 20px;
    margin-bottom: 10%; 
}

.services-block-text {
    font-size: 15px;
    margin-bottom: 10%;
}

/* ----------------------------------------------------------WORK--------------------------------------------------------------- */
.work {
    width: 100%;
}

.work-link {
    margin-top: 5%;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 32px;
}

.work-menu {
    margin-left: 10%;
    text-align: center;
    display: block;
    height: 5%;
    width: 80%;
    color: #000000;
    font-size: 20px;
    margin-bottom: 10%; 
    
}

.work-link-menu {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #333;
    margin-right: 5%;
    transition: color .1s linear;
    font-size: 20px;
    position: relative;
}

.work-link-menu:after {
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: #c94a65;
    position: absolute;
    top: 100%;
    z-index: 1;
    transition: opacity .1s linear;
}

.work-link-menu:hover {
    color: #c94a65;
}

.work-link-menu:hover:after {
    opacity: 1;
}

/* -------------------------------------------------------worcking ---------------------------------------------------------*/
.working {
    width: 100%;
    height: 750px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.working-link {
    font-size: 36px;
}

.working-img {
    margin-top: 6%;
    margin-bottom: 1%;
    width: 80%;
    margin-left: 10%;
    height: 190px;
}

.working-bloc1 {
    display:flex;
    justify-content: space-between;
    text-align: start;
    font-weight: bold;
    font-size: 34px;
    width: 80%;
    margin-left: 10%;
}

.working-bloc2 {
    display:flex;
    justify-content: space-between;
    text-align: start;
    font-size: 34px;
    width: 80%;
    margin-left: 10%;
}

.working-bloc1-text {
    display: inline-block;
    text-align: start;
    width: 12%;
    color: #000000;
    text-decoration: none;
}

.working-bloc2-text {
    font-size: 15px;
    text-align: start;
    width: 12%;
    height: auto;
    display: inline-block;
    color: #000000;
    text-decoration: none; 
}

.working-button {
    font-family:roboto slab;
    margin-top: 10%;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    display: inline-block;
    width: 15em;
    color: rgba(255,255,255,.9);
    text-decoration: none;
    text-align: center;
    border-radius:40px;
    outline: none;
    background: #60a3d8 linear-gradient(to right,#01c4d2, #957c8f 50%, #c94a65);
    padding: 1em 0;
}