* 
{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;  
}
/* ---------------------------------main----------------------------------------- */
.main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main-container{
    height: 1080px;
}
.navbar{
    margin: 50px;
    margin-left: 13%;
}
.nav-link{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #333;
    margin-right: 7%;
    transition: color .1s linear;
    font-size: 24px;
    position: relative;
}
.nav-link:after{
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 100%;
    z-index: 1;
    transition: opacity .1s linear;

}
.nav-link:hover{
    color: #333;
}
.nav-link:hover:after{
    opacity: 1;
}

.main-link{
    margin-left: 17%;
    margin-top: 9%;

}
.main-link1{
    font-size: 32px;
    color: #E1004C;
    text-decoration: none;

}
.main-link2{
    font-size: 32px; 
    color: #333; 
    text-decoration: none;
}
.main-text{
    margin: 20px;
    margin-left: 13%;
    width: 23%;
}
.input{
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    font-size: 22px;
}
.input2{
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    font-size: 22px;
}
.input3{
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    font-size: 22px;
}
.main-container{
    background: url(/img/font.png);
    background-repeat: no-repeat;
    background-size: 120%;
}
/* ---------------------------------servises----------------------------------------- */
.services{
    margin-top: 5%;
    width: 100%;
    height: 1080px;
    text-align: center;
    font-size: 32px;
}
.services-bloc{
    text-align: start;
    display: block;
    margin-top: 10%;
    width: 100%;

}
.services-link-text{
    font-size: 20px; 
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
.services-blocl{
    display: block;
    margin-left: 17%;
    padding: 30px;
    width: 30%;
    height: 190px;
    
}
.services-blocv{
    text-align: end;
    display: block;
    margin-left: 53%;
    width: 30%;
    padding: 30px;
    height: 190px;
}
.services-blocs{
    text-align: start;
    display: block;
    margin-left: 17%;
    width: 30%;
    padding: 30px;
    height: 190px;
}
.services-blocr{
    text-align: end;
    display: block;
    margin-left: 53%;
    width: 30%;
    padding: 30px;
    height: 170px;
}
.services-blocl-img{
    display: inline-block;
    width: 30%;
    height: 170px;
    margin-right: 10%;
}

.services-blocv-img{
    display: inline-block;
    margin-right: 10%;
    width: 30%;
    height: 170px;
}
.services-blocs-img{
    display: inline-block;
    width: 30%;
    height: 170px;
    margin-right: 10%;
}
.services-blocr-img{
    display: inline-block;
    margin-right: 10%;
    width: 30%;
    height: 170px;
}
.services-blocl-text{
    display: inline-block;
    margin-top: 5%;
    font-size: 22px;
    width: 50%;   
}
.services-blocl-text1{
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocl-text2{
    color: blue;
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocl-text3{
    color: #4B4B4B;
    font-size: 20px;
    margin-bottom: 10%; 
}
.services-blocl-text4{
    font-size: 15px;
    margin-bottom: 10%;
}
.services-blocv-text{
    display: inline-block;
    margin-top: 5%;
    font-size: 22px;
    width: 50%;   
}
.services-blocv-text1{
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocv-text2{
    color: red;
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocv-text3{
    font-size: 20px;
    color: #4B4B4B;
    margin-bottom: 10%; 
}
.services-blocv-text4{
    font-size: 15px;
    margin-bottom: 10%;
}
.services-blocs-text{
    display: inline-block;
    margin-top: 5%;
    font-size: 22px;
    width: 50%;   
}
.services-blocs-text1{
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocs-text2{
    color: red;
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocs-text3{
    font-size: 20px;
    color: #4B4B4B;
    margin-bottom: 10%; 
}
.services-blocs-text4{
    font-size: 15px;
    margin-bottom: 10%;
}
.services-blocr-text{
    display: inline-block;
    margin-top: 5%;
    font-size: 22px;
    width: 50%;   
}
.services-blocr-text1{
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocr-text2{
    color: blue;
    font-size: 20px;
    margin-bottom: 10%;
}
.services-blocr-text3{
    color: #4B4B4B;
    font-size: 20px;
    margin-bottom: 10%; 
}
.services-blocr-text4{
    font-size: 15px;
    margin-bottom: 10%;
}
